{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row row-centered">
            <div class="col-sm-4 col-centered"></div>
            <div class="col-sm-4 col-centered">
                <div class="item">
                    <div class="content">
                        {{ errorInfo }}
                        {{ app.session.get('id_product') }}
                        {% for key, cart_product in cart %}
                            <div class="row">
                                <div class="row">
                                    {{ cart_product[0].name|e }}
                                </div>
                                <div class="row">
                                    Cena: {{ cart_product[0].price|e }} zł
                                </div>
                                <a class="btn btn-warning width-100" href="{{ path('cart_product_remove') }}/{{ key }}" role="button">Usuń pizzę</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-centered"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-danger width-100" href="{{ path('cart_flush') }}" role="button">Wyczyść koszyk</a>
                <a class="btn btn-success width-100" href="{{ path('order') }}" role="button">Złóż zamówienie</a>
            </div>
            <div class="col-md-4"></div>
        </div>


    </div>
{% endblock %}