{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row row-centered">
            <div class="col-sm-4 col-centered"></div>
            <div class="col-sm-4 col-centered">
                <div class="row">
                    <h3>Edytuj pizzę</h3>
                    <h4>Wybierz pizzę do edycji</h4>
                </div>
                <div class="item">
                    <div class="content">
                        {{ errorInfo }}
                        {% for product in products %}
                            <div class="row">
                                <h4>{{ product.name }}</h4>
                                <p> 
                                    {{ product.price }} zł
                                </p>
                                <p>
                                    <a href="{{ path('products_edit') }}/{{product.id_product}}">Edytuj</a>
                                </p> 
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-centered"></div>
        </div>
    </div>
{% endblock %}